<!DOCTYPE html>
<html>
<head>
  <title>Nambynonsense</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'> -->
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  <% if current_user %>
    window.current_user = {
      id: "<%= current_user.id %>",
      username: "<%= current_user.username%>"
    }
  <% end %>
  </script>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
